@use "../variables" as *;
@use "../components/mixins" as *;

.footer {
  padding-top: 1rem;
  background: $footer;
}

// Styling the Contact Box
.contact-box {
  position: relative;

  &__info {
    padding: 0.4rem;

    &--title {
      font-size: 1.4rem;
      text-decoration: none;
    }
    
    &--subtitle {
      font-size: 1rem;
      color: $gray-600;
      text-decoration: none;
    }
  }
}