@use "../variables" as *;
@use "../components/mixins" as *;

.footer {
  padding-top: 1rem;
  background: $footer;
}

// Styling the Contact Box
.contact-box {
  position: relative;

  &__info {
    padding: 0.4rem;
    font-weight: 600;

    &--title {
      font-size: 1rem;
      text-decoration: none;
    }

    &--subtitle {
      font-size: 1rem;
      color: $gray-600;
      font-size: 0.8rem;
      text-decoration: none;
    }
  }
}

// Styling the Company info content
.company-list {
  display: block;
  position: relative;
  list-style-type: none;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}