@use "../variables" as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  
  &--intro {
    font-size: 6rem;
    font-weight: 700;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }
  
  &--description {
    display: block;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    text-transform: none;
    margin-bottom: 1.5rem;
  }
}